body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*font-family: 'Josefin Slab', serif;*/
    font-family: 'Courier New';
    /*font-size: 120%;*/
    background-color: #ff7400;  /*medium orange*/
    color: #512500; /*rgb(117, 53, 0);*/ /*brown*/
}

.brownTitle{
    color: #512500;
    text-align: center;
}

.navbar{
    background-color: #512500;
    color: #ff7400;
    font-size: 120%
}

.navbar-toggle{
    /*might need something here, maybe just copy .navbar*/
        background-color: #512500;
    color: #ff7400;
}

a.navbar /*eep how to i name the attributes of links in the navbar? tried several ways, none worked*/
{
    color: white;
}

.jumbotron{
    background-color: #512500;
    color: /*#FFBD86*/white;
            background-image: url('../Images/landscape background.jpg');
}

    .jumboHeading /* or is it the reverse? or something else?*/ {
        color: #ff7400;
        text-align: center;
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.threeChoices{
    text-align: center;
}

#Machu{
        float: left;
    padding: 2px 2px 2px 2px; /*play with numbers to get it flush with top and left, margin on rt and bottom*/
    margin: 2px;
}

#Portland{
        float: right;
    padding: 20px 20px 20px 20px;
    margin: 20px;
}

#SriFood{
        float: left;
    padding: 20px 20px 20px 20px;
    margin: 20px;
}

.table{
    background-color: #512500;
    color: white;
}

.tableHeading{
    font-size: 130%;
}

.tableBody{
    background-color: #CD5D00; /*dark orange*/
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}

h1, h2, h3, h4 {
    font-family: 'Special Elite', cursive;
    color: /*#FFBD86*/white; /* very light orange*/

}

.followMe{
    color: white;
    font-family: 'Special Elite', cursive;
    /*need to make hyperlink text more readable*/
}

a{
    color: white;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*DO: make the form input for Review bigger than the rest*/

.btn-primary{
    background-color: #C35800; /*darker orange*/
    color: white;
    /*how can i change the hover color?*/
}

.btn-default{
        background-color: #512500;
    color: white;
    /*how can i change the hover color?*/
}

footer{
    font-size: 120%;
}


/* the following info was provided by google fonts. Use as needed.

    font-family: 'Special Elite', cursive; (that's the tyoewriter one)
    font-family: 'Oswald', sans-serif; (that's the plainish one, kinda dense)
    font-family: 'Josefin Slab', serif; (plainish, slightly spred out)
*/