body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Courier New';
    background-color: #ff7400; /*medium orange*/
    color: #512500; /*brown*/
}

.brownTitle {
    color: #512500; /*brown*/
    text-align: center;
}

.navbar {
    background-color: #512500; /*brown*/
    color: #ff7400; /*medium orange*/
    font-size: 120%;
}

.navbar-toggle {
    /*might need something here, maybe just copy .navbar*/
    background-color: #512500; /*brown*/
    color: #ff7400; /*medium orange*/
}

a.navbar /*eep how to i name the attributes of links in the navbar? tried several ways, none worked*/ {
    color: white;
}

.jumbotron {
    background-color: #512500; /*brown*/
    color: /*#FFBD86*/ white;
    background-image: url('../Images/landscape background.jpg');
}

.jumboHeading {
    color: #ff7400; /*medium orange*/
    text-align: center;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.threeChoices {
    text-align: center;
}

.sampleReviewPale {
    background-color: #FFAC67; /*light orange*/
}

.sampleReview, .sampleReviewPale{
    padding: 0px 20px 20px 20px;
    margin: 0px;
}

#Machu {
    float: left;
    padding: 0px ; 
    margin: 0px 20px 0px 0px;
}

#Portland {
    float: right;
    margin: 0px 0px 0px 20px;  /*what's better, changing margin or padding?*/
    padding: 0px ;
}

#SriFood {
    float: left;
    margin: 0px 20px 0px 0px;
    padding: 0px ;
}

.table {
    background-color: #512500; /*brown*/
    color: white;
}

.tableHeading {
    font-size: 130%;
}

.tableBody {
    background-color: #CD5D00; /*dark orange*/
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE";
    /*adds arrows to the sortable tables*/
}

h1, h2, h3, h4, h5 {
    font-family: 'Special Elite', cursive;
    color: white;
    /*this is what you're using for almost all non-table text*/
}

.font120 {
    font-size: 120%;
}

.followMe {
    color: white;
    font-family: 'Special Elite', cursive;
    font-size: 120%;
    /*this mostly styles links between pages*/
}

a {
    color: white;
    /*this makes hyperlink text white (except navbar)*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*.form-control-tall {
    height: 114px;  /*that's 3x regular height
    word-wrap: break-word;
    /*this makes input box for review taller than the rest*/
    /*can't fix some problems with it, though, so removed because it looked silly
}*/


.btn-primary {
    background-color: #C35800; /*darker orange*/
    color: white;
}

.btn-default {
    background-color: #512500; /*brown*/
    color: white;
}

footer {
    font-size: 120%;
}


/* the following info was provided by google fonts. Use as needed. All are loaded into HEAD.

    font-family: 'Special Elite', cursive; (that's the tyoewriter one)
    font-family: 'Oswald', sans-serif; (that's the plainish one, kinda dense)
    font-family: 'Josefin Slab', serif; (plainish, slightly spred out)
*/
