body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*font-family: 'Josefin Slab', serif;*/
    font-family: 'Courier New';
    /*font-size: 120%;*/
    background-color: #ff7400;  /*medium orange*/
    color: #512500; /*rgb(117, 53, 0);*/ /*brown*/
}

.navbar{
    background-color: #512500;
    color: #ff7400;
}

.navbar-toggle{
    /*might need something here, maybe just copy .navbar*/
        background-color: #512500;
    color: #ff7400;
}

.jumbotron{
    background-color: #512500;
    color: /*#FFBD86*/white;
            background-image: url('../Images/landscape background.jpg');
}

    .jumboHeading /* or is it the reverse? or something else?*/ {
        color: #ff7400;
        text-align: center;
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.table{
    background-color: #512500;
    color: white;
}

h1, h2, h3, h4 {
    font-family: 'Special Elite', cursive;
    color: /*#FFBD86*/white; /* very light orange*/

}

.followMe{
    color: white;
    font-family: 'Special Elite', cursive;
    /*need to make hyperlink text more readable*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*DO: make the form input for Review bigger than the rest*/

.btn-primary{
    background-color: #C35800; /*darker orange*/
    color: white;
    /*how can i change the hover color?*/
}

.btn-default{
        background-color: #512500;
    color: white;
    /*how can i change the hover color?*/
}


/* the following info was provided by google fonts. Use as needed.

    font-family: 'Special Elite', cursive; (that's the tyoewriter one)
    font-family: 'Oswald', sans-serif; (that's the plainish one, kinda dense)
    font-family: 'Josefin Slab', serif; (plainish, slightly spred out)
*/