@model TravelReviewProject.Models.Cost

@{
    ViewBag.Title = "Details";
}

<h2>Cost Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EstimatedCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimatedCost)
        </dd>

    </dl>
</div>
<p class="followMe">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
