@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron"> @*first big thing people see*@
    <div class="row">
        <h1 class="jumboHeading">The Whole Wide World</h1>
    </div>
    <div>
        <p class="lead">
           Where are you going? Where have you been?<br />
           Find your next destination, and help others find theirs.
        </p>
        @*make these open in new tab. DONE*@
        <p>
            <a href="http://gabytrails.blogspot.com/2011/04/day-99-easter-island-april-16-2011.html"
               target="_blank" class="btn btn-primary btn-lg btn-responsive">The Whole Wide World's Travel Blog &raquo;</a>
        </p>
    </div>
</div>

@*three generic travel links*@

<div class="row">
    <div class="col-md-4">
        <div class="threeChoices">
            <h2>Adventure</h2>
            <p>
                Experience things you cannot imagine.
            </p>
            <p><a class="btn btn-default" href="http://www.ngorongorocrater.org/" target="_blank">Some Wild, Wild Life &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="threeChoices">
            <h2>Luxury</h2>
            <p>You relax. Someone else does the work.</p>
            <p><a class="btn btn-default" href="https://www.graceland.com/" target="_blank">Lay in the Lap &raquo;</a></p>
        </div>
        </div>
    <div class="col-md-4">
        <div class="threeChoices">
            <h2>Education</h2>
            <p>Things you never knew you never knew.</p>
            <p><a class="btn btn-default" href="http://www.roswellufomuseum.com/" target="_blank">The Truth Is Out There &raquo;</a></p>
        </div>
        </div>
</div>

<hr/>

<h1 class="brownTitle">Sample Reviews</h1>

<!--three wide paragraph and image combos. These won't change.-->
<div class="container-fluid">
    <div class="sampleReviewPale">
        <div class="row">
            <div class="sampleOne">
                <p>
                    <img id="Machu" src="~/Images/Machu Picchu.JPG" class="img-responsive" alt="Machu Picchu" />
                    <div class="sampleText">
                        <h3>Machu Picchu</h3>
                        <div class="font120">
                            The classic “Lorem ipsum dolor sit amet…” passage is attributed to a remixing
                            of the Roman philosopher Cicero's 45 BC text De Finibus Bonorum et Malorum
                            (“On the Extremes of Good and Evil”). More specifically, the passage is thought
                            to originate from sections 1.10.32 – 33 of his text, with the most notable
                            portion excerpted below:
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid"> @*Second image/text*@
    <div class="sampleReview">
        <div class="row">
            <div class="sampleTwo">
                <p>
                    <img id="Portland" src="~/Images/Portland.JPG" class="img-responsive" alt="Portland" />
                    <div class="sampleReviewText">
                        <h3>Groovy Portland</h3>
                        <div class="font120">
                            The classic “Lorem ipsum dolor sit amet…” passage is attributed to a remixing
                            of the Roman philosopher Cicero's 45 BC text De Finibus Bonorum et Malorum
                            (“On the Extremes of Good and Evil”). More specifically, the passage is thought
                            to originate from sections 1.10.32 – 33 of his text, with the most notable
                            portion excerpted below:
                            </div>
                        </div>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid"> @*third image/text*@
    <div class="sampleReviewPale">
        <div class="row">
            <div class="sampleThree">
                <p>
                    <img id="SriFood" src="~/Images/Sri Lanka Food.JPG" class="img-responsive" alt="Machu Picchu" />
                    <div class="sampleReviewText">
                        <h3>A Foodie's Delight</h3>
                        <div class="font120">
                            The classic “Lorem ipsum dolor sit amet…” passage is attributed to a remixing
                            of the Roman philosopher Cicero's 45 BC text De Finibus Bonorum et Malorum
                            (“On the Extremes of Good and Evil”). More specifically, the passage is thought
                            to originate from sections 1.10.32 – 33 of his text, with the most notable
                            portion excerpted below:
                            </div>
                        </div>
                </p>
            </div>
        </div>
    </div>
</div>
