@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Whole Wide World</h1>
    <p class="lead">Where are you going? Where have you been?<br />
    Let us help you find your next destination, while you helps others find theirs.</p>
    @*make these open in new tab*@
    <p><a href="http://gabytrails.blogspot.com/2011/04/day-99-easter-island-april-16-2011.html" 
          class="btn btn-primary btn-lg">The Whole Wide World's Travel Blog &raquo;</a></p>
</div>

@*OO OO here's where you can add some pre-set items.*@

<div class="row">
    <div class="col-md-4">
        <h2>Adventure</h2>
        <p>
            Experience things you cannot imagine. 
        </p>
        @*CHANGE THESE THREE LINKS to appropriate stuff*@
        <p><a class="btn btn-default" href="http://gabytrails.blogspot.com/2011/01/day-19-ngorongoro-crater-tanzania.html">Wild, Wild Life &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Luxury</h2>
        <p>You relax. Someone else does the work.</p>
        <p><a class="btn btn-default" href="http://gabytrails.blogspot.com/2011/09/graceland-graceland-memphis-tennessee.html">Lay in the Lap... &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Educational</h2>
        <p>Learn things you never knew you never knew.</p>
        <p><a class="btn btn-default" href="http://gabytrails.blogspot.com/2011/11/this-international-ufo-museum-in.html">The Truth Is Out There &raquo;</a></p>
    </div>
</div>